@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
  @apply bg-blue-500 shadow-md hover:bg-blue-300 text-white  rounded;
}
@layer utilities {
  /* Chrome, Safari and open */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .myhover:hover {
    background-color: #d1e8e8;
    color: #01a289;
  }
  .btnhover:hover {
    background-color: #d1f1f1;
    color: #039781;
  }
  .mycolor {
    background-color: #d1e8e8;
    color: #01a289;
    /* color:black; */
  }
  
  .overflow-wrap {
    overflow-wrap: anywhere;
  }
  .mycolor1 {
    background-color: #fcf3f3;
    color: #fd6d6a;
    /* color:black; */
  }
  .mybg-green {
    background-color: #31a364;
  }
  .mybg-red{
    background-color: #fc5d5b;
  }
  
  /* .active-link {
    background-color: #4dcece;
    color: #039781;
  } */
  
 
}